body{
  width: 100%;
  font-family: 'Noto-Sans', sans-serif;
  margin: 0;
  background: #eeeeee;
}
h1{
  text-decoration: underline;
  font-size: 1.9rem;
  margin-left: 1.2rem;
  padding-top: 1rem;
}
article{
  margin: 0.5rem;
}
nav{
  background: #0099ff;
  padding: 0.5rem 0 0.5rem 0;
  align-items: center;
}
nav a{
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.box{
  flex: calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  height: 20rem;
  background: white;
  margin: 0.5rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  transition: transform 1s;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}
.box h2{
  text-align: center;
  color: white;
  background: #444444;
}
.hidden{
  display: none;
}
.box .desc{
  display: none;
  box-sizing: border-box;
  border-left: solid 0.5rem white;
  border-right: solid 0.5rem white;
}
input.hidden:checked + label{
  transform: rotateY(180deg);
}
.box::after{
  content: '';
  opacity: 0;
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
input.hidden:checked + .box::after{
  content: '';
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 0;
  max-width: none;
}
input.hidden:checked + label .desc{
  width: 100%;
  height: 100%;
  display: block;
  text-align: right;
  transform: rotateY(180deg);
  z-index: 1000;
  position: absolute;
  top: 0;
  overflow-y: auto;
}
.desc h1,.desc p,.desc h2,.desc h3,.desc h4,.desc h5,.desc h6, .desc a, .desc li{
  text-align: left;
  display: block;
}
.desc li{
  display: list-item;
}
footer{
  padding: 1rem;
  background: #999999;
}
.mobile_menu{
  display: none;
}
.mobile_menu + label::before{
  content: '';
  width: 3rem;
  height: 100%;
  position: absolute;
  background-image: url(/images/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 1s ease-out;
}
.mobile_menu + label{
  display: none;
  width: 100%;
  height: 3rem;
  background-color: #0099ff;
  position: relative;
}
.mobile_menu + label h2{
  font-size: 1.75rem;
  color: white;
  text-shadow: 0.1rem 0.1rem grey;
}
.mobile_menu + label img{
  width: 3rem;
  margin-left: 3.25rem;
}
.mobile_menu:checked + label::before{
  transform: rotateZ(180deg);
}
.mobile_menu:checked + label div{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3rem;
  left: 0;
  background: white;
  width: 100%;
}
.mobile_menu:checked + label div a{
  flex: 1;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-top: 0.25rem;
}
.indent{
  margin-left: 1rem;
}
.media{
  max-height: 30rem;
}
.right{
  float: right;
}
.left{
  float: left;
}
@media screen and (max-width: 600px) {
  .box{
    flex: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
  }
  .mobile_menu + label{
    display: flex;
    align-items: center;
  }
  nav{
    display: none !important;
  }
}
